/Infrastructure/bin/Debug/net7.0
/E-CommerceWebsite/bin/Debug/net7.0
/E-CommerceWebsite/obj
/E-CommerceWebsite/appsettings.Development.json
/E-CommerceWebsite/appsettings.json
/Core/bin/Debug/net7.0
/Core/obj
/Infrastructure/obj
