    <div class="d-flex flex-row align-items-center justify-content-between p-2 px-4 mb-2 
    bg-white border-bottom fixed-top shadow-sm">
    <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 50px;" routerLink="/">
        <nav class="my-2 text-uppercase fs-4">
          <a class="p-2 text-dark text-decoration-none" href="#">Features</a>
          <a class ="p-2 text-dark text-decoration-none" href="#">Enterprise</a>
          <a class="p-2 text-dark text-decoration-none" href="#">Support</a>
          <a class="p-2 text-dark text-decoration-none" href="#">Pricing</a>
          
        </nav>
        <div class="d-flex align-items-center text-decoration-none">
            <a   class="position-relative">
                <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
                <div  class="cart-no text-decoration-none">
                    5 
                </div>
            </a>
            <a   class="btn btn-outline-secondary m-2">Login</a>
            <a   class="btn btn-outline-secondary mr-3">Sign-up</a>
        </div>
      </div>
      
 


 
 
